.navbar-wrapper {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 8px 24px;
  background: #1e2125;
  color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s;

  &--light {
    background: white;
    color: black;
  }

  .navbar {
    max-width: 1440px;
    margin: auto;
    height: 44px;

    &__left {
      height: 100%;
    }

    &__search {
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: #444950;
      border-radius: 16px;
      border-width: 0;
      color: white;
      font-size: 14px;
      outline: none;
      padding: 8px 40px 8px 12px;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      width: 250px;
      height: 36px;
      margin-left: 48px;
    }

    &__search--white {
      background-color: #ebedf0;
      color: #444950;
    }

    &__search-btn {
      cursor: pointer;
      background-color: #444950;
      color: white;
      outline: none;
      width: 32px;
      height: 32px;
      margin-left: -32px;
      border-radius: 16px;
    }
  }

  .logo {
    height: 44px;
    width: auto;
    margin-right: 24px;
  }
}
